.spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.check {
  font-size: 10em;
  color: green;
}


.editable-field {
  padding: .5em 0;
}

.editable-field:hover {
  background: #fafafa;
  cursor: move;
}

.editable-field label:hover {
  cursor: move;
}

.editable-field-actions {
  text-align: right;
  padding-left: 0;
  padding-right: 0;
}

.editable-field-actions button,
button.close-btn {
  background: none;
  border: none;
}

form > p {
  padding: 1em 0;
}

.panel-heading .close-btn {
  float: right;
  margin-right: -1em;
}

textarea.json-viewer {
  width: 100%;
  height: 350px;
  font-family: Consolas, "Ubuntu Mono", "Monaco", monospace;
}

.form-area {
  padding-bottom: 5em;
}

.field-list-entry:hover {
  background: #fafafa;
  cursor: move;
}

.field-list-entry:active {
  background: #F7F7F7;
  box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, .3);
}

.glyphicon + span {
  margin-left: .5em;
}

.dropzone-active {
  border: 5px black dotted;
  margin: 5px;
}

.edit-in-place:hover {
  border-bottom: 1px black dotted;
}

.edit-in-place-active {
  width: 500px;
}

.btn {
  float: right;
}
